.pagination { margin-top: 5px; margin-bottom: 20px; float: left; background-color: #fff; color: #48b9ef; padding: 10px 0 10px 0; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; }
.pagination a { color: #48b9ef; padding: 2px 5px; margin: 0 2px; text-decoration: none; border: 2px solid #f0f0f0; }
.pagination a:hover, .pagination a:active { border: 2px solid #ff5a00; color: #ff5a00; }
.pagination span.current { padding: 2px 5px; border: 2px solid #ff5a00; color: #fff; font-weight: bold; background-color: #ff6c16; }
.pagination span.disabled { display: none; }
