.pagination { margin-top: 20px; float: right; }

.pagination.badoo { background-color: #fff; color: #48b9ef; padding: 10px 0 10px 0; font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: center; }
.pagination.badoo a { color: #48b9ef; padding: 2px 5px; margin: 0 2px; text-decoration: none; border: 2px solid #f0f0f0; }
.pagination.badoo a:hover, .pagination.badoo a:active { border: 2px solid #ff5a00; color: #ff5a00; }
.pagination.badoo span.current { padding: 2px 5px; border: 2px solid #ff5a00; color: #fff; font-weight: bold; background-color: #ff6c16; }
.pagination.badoo span.disabled { display: none; }

.pagination.black_red { font-size: 11px; font-family: Tahoma, Arial, Helvetica, Sans-serif; background-color: #3e3e3e; color: #fff; }
.pagination.black_red a { padding: 2px 5px 2px 5px; margin: 2px; background-color: #3e3e3e; text-decoration: none; color: #fff; }
.pagination.black_red a:hover, .pagination.black_red a:active { background-color: #ec5210; color: #fff; }
.pagination.black_red span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; background-color: #313131; color: #fff; }
.pagination.black_red span.disabled { padding: 2px 5px 2px 5px; margin: 2px; background-color: #3e3e3e; color: #868686; }

.pagination.blue { padding: 3px; margin: 3px; text-align: center; }
.pagination.blue a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; text-decoration: none; color: #036CB4; }
.pagination.blue a:hover, .pagination.blue a:active { border: 1px solid #999; color: #666; }
.pagination.blue .current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #036CB4; font-weight: bold; background-color: #036CB4; color: #FFF; }
.pagination.blue .disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

.pagination.digg { padding: 3px; margin: 3px; text-align: center; }
.pagination.digg a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #AAAADD; text-decoration: none; color: #000099; }
.pagination.digg a:hover, .pagination.digg div.digg a:active { border: 1px solid #000099; color: #000; }
.pagination.digg span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; }
.pagination.digg span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

.pagination.flickr { padding: 3px; margin: 3px; text-align: center; }
.pagination.flickr a { border: 1px solid #dedfde; margin-right: 3px; padding: 2px 6px; background-position: bottom; text-decoration: none; color: #0061de; }
.pagination.flickr a:hover, .pagination.flickr a:active { border: 1px solid #000; background-image: none; background-color: #0061de; color: #fff; }
.pagination.flickr span.current { margin-right: 3px; padding: 2px 6px; font-weight: bold; color: #ff0084; }
.pagination.flickr span.disabled { margin-right: 3px; padding: 2px 6px; color: #adaaad; }

.pagination.gray { padding: 3px; margin: 3px; text-align: center; }
.pagination.gray a { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #ddd; text-decoration: none; color: #aaa; }
.pagination.gray a:hover, .pagination.gray a:active { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #a0a0a0; }
.pagination.gray span.current { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #e0e0e0; font-weight: bold; background-color: #f0f0f0; color: #aaa; }
.pagination.gray span.disabled { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #f3f3f3; color: #ccc; }

div.pagination.gray2 { font-size: 11px; font-family: Tahoma, Arial, Helvetica, Sans-serif; padding: 2px; background-color: #c1c1c1; }
div.pagination.gray2 a { padding: 2px 5px 2px 5px; margin: 2px; background-color: #c1c1c1; text-decoration: none; color: #000; }
div.pagination.gray2 a:hover, div.pagination.gray2 a:active { background-color: #99ffff; color: #000; }
div.pagination.gray2 span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; background-color: #fff; color: #303030; }
div.pagination.gray2 span.disabled { padding: 2px 5px 2px 5px; margin: 2px; background-color: #c1c1c1; color: #797979; }

div.pagination.green { padding: 3px; margin: 3px; text-align: center; }
div.pagination.green a { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #ddd; text-decoration: none; color: #88AF3F; }
div.pagination.green a:hover, div.pagination.green a:active { border: 1px solid #85BD1E; color: #638425; background-color: #F1FFD6; }
div.pagination.green span.current { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #B2E05D; font-weight: bold; background-color: #B2E05D; color: #FFF; }
div.pagination.green span.disabled { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #f3f3f3; color: #ccc; }

div.pagination.green_black { padding: 3px; margin: 3px; text-align: center; }
div.pagination.green_black a { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #2C2C2C; text-decoration: none; color: #fff; background: #2C2C2C url(/images/paging/green_black_bg1.gif); }
div.pagination.green_black a:hover, div.pagination.green_black a:active { border: 1px solid #AAD83E; color: #FFF; background: #AAD83E url(/images/paging/green_black_bg2.gif); }
div.pagination.green_black span.current { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #AAD83E; font-weight: bold; background: #AAD83E url(/images/paging/green_black_bg2.gif); color: #FFF; }
div.pagination.green_black span.disabled { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #f3f3f3; color: #ccc; }

div.pagination.jogger { font-family: "Lucida Sans Unicode" "Lucida Grande" LucidaGrande "Lucida Sans" Geneva Verdana sans-serif; padding: 2px; margin: 7px; }
div.pagination.jogger a { margin: 2px; padding: 0.5em 0.64em 0.43em 0.64em; background-color: #ee4e4e; text-decoration: none; color: #fff; }
div.pagination.jogger a:hover, div.pagination.jogger a:active { padding: 0.5em 0.64em 0.43em 0.64em; margin: 2px; background-color: #de1818; color: #fff; }
div.pagination.jogger span.current { padding: 0.5em 0.64em 0.43em 0.64em; margin: 2px; background-color: #f6efcc; color: #6d643c; }
div.pagination.jogger span.disabled { display: none; }

.pagination.megas { text-align: center; }
.pagination.megas a { border: 1px solid #dedfde; margin-right: 3px; padding: 2px 6px; background-position: bottom; text-decoration: none; color: #99210B; }
.pagination.megas a:hover, .pagination.megas a:active { border: 1px solid #000; background-color: #777777; color: #fff; }
.pagination.megas span.current { margin-right: 3px; padding: 2px 6px; font-weight: bold; color: #99210B; }
.pagination.megas span.disabled { margin-right: 3px; padding: 2px 6px; color: #adaaad; }

div.pagination.meneame { padding: 3px; margin: 3px; text-align: center; color: #ff6500; font-size: 80%; }
div.pagination.meneame a { border: 1px solid #ff9600; margin-right: 3px; padding: 5px 7px; background-image: url(/images/paging/meneame_bg.jpg); background-position: bottom; text-decoration: none; color: #ff6500; }
div.pagination.meneame a:hover, div.pagination.meneame a:active { border: 1px solid #ff9600; background-image: none; background-color: #ffc794; color: #ff6500; }
div.pagination.meneame span.current { margin-right: 3px; padding: 5px 7px; border: 1px solid #ff6500; font-weight: bold; background-color: #ffbe94; color: #ff6500; }
div.pagination.meneame span.disabled { margin-right: 3px; padding: 5px 7px; border: 1px solid #ffe3c6; color: #ffe3c6; }

div.pagination.mis_algoritmos { text-align: center; padding: 7px; margin: 3px; }
div.pagination.mis_algoritmos a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000000; text-decoration: none; color: #000000; }
div.pagination.mis_algoritmos a:hover, div.pagination.mis_algoritmos a:active { border: 1px solid #000000; background-color: #000000; color: #fff; }
div.pagination.mis_algoritmos span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000000; font-weight: bold; background-color: #000000; color: #FFF; }
div.pagination.mis_algoritmos span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

div.pagination.msdn { background-color: #fff; color: #48b9ef; padding: 10px 0 10px 0; font-family: Arial Helvetica sans-serif; font-size: 13px; text-align: center; }
div.pagination.msdn a { color: #48b9ef; padding: 2px 5px; margin: 0 2px; text-decoration: none; border: 2px solid #f0f0f0; }
div.pagination.msdn a:hover, div.pagination.msdn a:active { border: 2px solid #ff5a00; color: #ff5a00; }
div.pagination.msdn span.current { padding: 2px 5px; border: 2px solid #ff5a00; color: #fff; font-weight: bold; background-color: #ff6c16; }
div.pagination.msdn span.disabled { display: none; }

div.pagination.new_yahoo { padding: 3px; margin: 3px; text-align: center; font-family: TahomaHelveticasans-serif; font-size: .85em; }
div.pagination.new_yahoo a { border: 1px solid #ccdbe4; margin-right: 3px; padding: 2px 8px; background-position: bottom; text-decoration: none; color: #0061de; }
div.pagination.new_yahoo a:hover, div.pagination.new_yahoo a:active { border: 1px solid #2b55af; background-image: none; background-color: #3666d4; color: #fff; }
div.pagination.new_yahoo span.current { margin-right: 3px; padding: 2px 6px; font-weight: bold; color: #000; }
div.pagination.new_yahoo a.next { border: 2px solid #ccdbe4; margin: 0 0 0 10px; }
div.pagination.new_yahoo a.next:hover { border: 2px solid #2b55af; }
div.pagination.new_yahoo a.prev { border: 2px solid #ccdbe4; margin: 0 10px 0 0; }
div.pagination.new_yahoo a.prev:hover { border: 2px solid #2b55af; }

div.pagination.on_black { padding: 3px; margin: 3px; text-align: center; color: #a0a0a0; font-size: 80%; }
div.pagination.on_black a { border: 1px solid #909090; margin-right: 3px; padding: 2px 5px; background-image: url(/images/paging/onblack_bg1.gif); background-position: bottom; text-decoration: none; color: #c0c0c0; }
div.pagination.on_black a:hover, div.pagination.on_black a:active { border: 1px solid #f0f0f0; background-image: url(/images/paging/onblack_bg2.gif); background-color: #404040; color: #ffffff; }
div.pagination.on_black span.current { margin-right: 3px; padding: 2px 5px; border: 1px solid #ffffff; font-weight: bold; background-color: #606060; color: #ffffff; }
div.pagination.on_black span.disabled { margin-right: 3px; padding: 2px 5px; border: 1px solid #606060; color: #808080; }

div.pagination.sabros { padding: 3px; margin: 3px; text-align: center; }
div.pagination.sabros a { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #9aafe5; text-decoration: none; color: #2e6ab1; }
div.pagination.sabros a:hover, div.pagination.sabros a:active { border: 1px solid #2b66a5; color: #000; background-color: lightyellow; }
div.pagination.sabros span.current { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid navy; font-weight: bold; background-color: #2e6ab1; color: #FFF; }
div.pagination.sabros span.disabled { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #929292; color: #929292; }

div.pagination.technorati { padding: 3px; margin: 3px; text-align: center; }
div.pagination.technorati a { border: 1px solid #ccc; margin-right: 3px; padding: 2px 6px; background-position: bottom; text-decoration: none; font-weight: bold; color: rgb(66,97,222); }
div.pagination.technorati a:hover, div.pagination.technorati a:active { background-image: none; background-color: #4261DF; color: #fff; }
div.pagination.technorati span.current { margin-right: 3px; padding: 2px 6px; font-weight: bold; color: #000; }
div.pagination.technorati span.disabled { display: none; }

div.pagination.tres { text-align: center; padding: 7px; margin: 3px; font-family: Arial, Helvetica, sans-serif; font-size: 13.2pt; font-weight: bold; }
div.pagination.tres a { padding: 2px 5px 2px 5px; margin: 2px; border: 2px solid #d9d300; text-decoration: none; color: #fff; background-color: #d90; }
div.pagination.tres a:hover, div.pagination.tres a:active { border: 2px solid #ff0; background-color: #ff0; color: #000; }
div.pagination.tres span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 2px solid #fff; font-weight: bold; color: #000; }
div.pagination.tres span.disabled { display: none; }

div.pagination.viciao2k3 { margin-top: 20px; margin-bottom: 10px; }
div.pagination.viciao2k3 a { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #8DB5D7; text-decoration: none; color: #000; }
div.pagination.viciao2k3 a:hover, div.pagination.viciao2k3 a:active { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid red; }
div.pagination.viciao2k3 span.current { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #E89954; font-weight: bold; background-color: #FFCA7D; color: #000; }
div.pagination.viciao2k3 span.disabled { padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #ccc; color: #ccc; }

div.pagination.yahoo { padding: 3px; margin: 3px; text-align: center; }
div.pagination.yahoo a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #fff; text-decoration: underline; color: #000099; }
div.pagination.yahoo a:hover { border: 1px solid #000099; color: #000; }
div.pagination.yahoo a:active { border: 1px solid #000099; color: #f00; }
div.pagination.yahoo span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #fff; font-weight: bold; background-color: #fff; color: #000; }
div.pagination.yahoo span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #EEE; color: #DDD; }

div.pagination.yellow { font-size: 11px; font-family: Tahoma, Arial, Helvetica, Sans-serif; padding: 2px; background-color: #c1c1c1; }
div.pagination.yellow a { padding: 2px 5px 2px 5px; margin: 2px; background-color: #c1c1c1; text-decoration: none; color: #000; }
div.pagination.yellow a:hover, div.pagination.yellow a:active { background-color: #99ffff; color: #000; }
div.pagination.yellow span.current { padding: 2px 5px 2px 5px; margin: 2px; font-weight: bold; background-color: #fff; color: #303030; }
div.pagination.yellow span.disabled { padding: 2px 5px 2px 5px; margin: 2px; background-color: #c1c1c1; color: #797979; }

div.pagination.youtube { font-family: Arial, Helvetica, sans-serif; font-size: 13px; text-align: right; padding: 4px 6px 4px 0; background-color: #cecfce; border-top: 1px dotted #9c9a9c; color: #313031; }
div.pagination.youtube a { font-weight: bold; color: #0030ce; text-decoration: underline; padding: 1px 3px 1px 3px; margin: 0 1px 0 1px; }
div.pagination.youtube span.current { padding: 1px 2px 1px 2px; color: #000; background-color: #fff; }
div.pagination.youtube span.disabled { display: none; }
