-# Set flash[:notice] to display a notice panel
- if flash[:notice]
  .flash.notice= flash[:notice]
- if flash[:success]
  .flash.success= flash[:success]
- if flash[:error]
  .flash.error= flash[:error]