-# Set flash[:notice] to display a notice panel
- if flash[:notice]
  .flash.message{:style => "margin-bottom:15px"}= flash[:notice]

- if flash[:error]
  .flash.warning{:style => "margin-bottom:15px"}= flash[:error]