<table>
  <tr>
    <td style="vertical-align:bottom;"><a href="/"><img src="/images/yubnub_small.png"/></a></td>
    <td style="vertical-align:bottom;">
      <div class="hint">Type in a command, or "ls dictionary" to search all commands for "dictionary", etc.</div>
      <%= partial 'shared/input_box', :size => 25 %>
    </td>
  </tr>
</table>
<div style="border-top: 1px dotted #B8B8B8;">
<h1><%= @title %></h1>
<%= flash_boxes %>
